@page
@model NotesApp.Pages.Categories.EditModel
@{
}

<br/>

<h2>Edit</h2>

<div class="border container" style="padding:30px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Category.Name"></label>
            </div>
            <div class="col-10">
                <input asp-for="Category.Name" class="form-control"> </input>
            </div>
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div hidden class="form-group row">
            <div class="col-2">
                <label asp-for="Category.NotesAppUserId"></label>
            </div>
            <div class="col-10">
                <input asp-for="Category.NotesAppUserId" class="form-control"> </input>
            </div>
        </div>
        <div hidden class="form-group row">
            <div class="col-2">
                <label asp-for="Category.Id"></label>
            </div>
            <div class="col-10">
                <input asp-for="Category.Id" class="form-control"> </input>
            </div>
        </div>
        <div class="form-group row mt-4">
            <div class="col-3 offset-4">
                <input type="submit" value="Save" class="btn btn-primary"></input>
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}